@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

body {
  text-align: center;
  font-family: "Rubik Bubbles", cursive;
  background:
      repeating-linear-gradient(to right,
          #ecf1bd,
          #f1debd 10px,
          #f5f4f1 10px,
          #f5f4f1 20px);
}
.to-do-instance {
  margin: 10px 0;
  width: 300px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #f8c976;
  padding: 20px;
}
#to-do-container {
  display: flex;
  flex-direction: row;
}
#to-do-container-in-progress {
  width: 50%;
}
#to-do-container-done {
  width: 50%;
}
h1 {
  text-align: center;
  color: #79831d;
}
.to-do-instance p  {
    text-align: left;
    padding-left: 80px;
    /* color: black; */
    color: #79831d;
    font-size: x-large;
  }
.to-do-instance button {

  background-color:inherit;
  border: none;
  font-size: 30px;
  transition: all 0.3s ease-out;

}
.to-do-instance button:hover {
  
  transform: scale(1.1);
  cursor: pointer;
}
.to-do-instance button:active{
  background-color: black;
  box-shadow: 0 5px lightgray;
}
.to-do-date {
  width: 100%;
  color:darkgrey;
}
input {
  background-color: lightgrey;
  border-radius: 10px;
  border: 2px solid rgb(175, 173, 173);
  height: 36px;
  width: 250px;
}
button {
  background-color: rgb(241, 173, 47);
  border-radius: 10px;
  text-transform: uppercase;
  height: 38px;
}
button:hover {
  background-color: goldenrod
}
.page-section {
  display: flex;
  flex-direction: row;
}
.left-side {
  width: 50%;
  padding: 20px;
}
.right-side {
  width: 50%;
  padding: 20px;
}

